*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(6, 138, 190);
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgb(6, 138, 190);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4mm;
    padding-right: 4mm;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 230%;
    padding: 5px 20px;
    border-left: 2px solid #fff;
}
header a:hover{
    background-color:white;
    color: black;
    font-style: bold;
}
.heading h1 span{
    color: white;
}
#background{
    background-image: url('IMG-20230203-WA0000.jpg');
    height: 360px;
    background-repeat:no-repeat ;
    background-size: cover;
} 
.threeBoxes{
    display: flex;
    font-size: 16px;
/*
    justify-items: center;
    align-items: center;
    justify-content:space-between;
    align-content: space-between;
*/
}
.box{
    border: 5px solid white;
    background-color: white;
    margin: 10px;
    border-radius: 0.5rem;
    text-align: center;
}
.twoParts{
    display: flex;
    margin-top: 7mm;
}
.left{
    border-right: 3px solid black;
    margin: 10px 10px 20px 15px;
}
.left li{
    list-style-type: none;
    background-color: white;
    margin: 20px;
    padding:10px;
    white-space: nowrap; 
    border-radius: 5px;
}
.right p{
    margin-top: 10mm;
    margin-bottom: 10mm;
    width: 90%;
    margin-left: 5mm;
    font-size: 120%;
}
